<h6 class="card-title">Memory</h6>
<div class="card">
  <div class="card-body">
    <div class="text-center">
      <small>
        {{ max }}
      </small>
    </div>
    <mat-slider
      class="example-margin"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="getSliderTickInterval()"
      [(ngModel)]="value"
      [vertical]="vertical"
    >
    </mat-slider>

    <div class="text-center">
      <small>
        {{ min }}
      </small>
    </div>
  </div>
</div>
