.dracula {
  background-color: #282a36;
  color: #f8f8f2;
}

.assembled-view-table tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.code {
  font-family: "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
    font-size: 14px;
}

.operator {
    color: #ff79c6;
}

.operands {
    color: #bd93f9;
}

.label {
    color: #8be9fd;
}

.machine-code {
    color: #50fa7b;
}

.address {
    color: #50fa7b;
}

.selected {
    background-color: #44475a;
}
