<div class="table-responsive">
  <table class="table table-borderless table-sm dracula">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Machine Code</th>
        <th scope="col">Label</th>
        <th scope="col">Instruction</th>
      </tr>
    </thead>
    <tbody style="min-height: 300px;">
      <tr
        *ngFor="let ins of instructions; let i = index"
        [ngClass]="{ selected: i == selectedInstruction }"
      >
        <td>
          <span class="code address">{{ ins.address }}</span>
        </td>
        <td>
          <span class="code machine-code">{{ ins.machine_code }}</span>
        </td>
        <td>
          <span class="code label">{{ ins.label }}</span>
        </td>
        <td>
          <span class="code"
            ><span class="operator">{{ ins.operator }}</span
            >&nbsp;<span class="operands">{{
              ins.operands.join(", ")
            }}</span></span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
