<div class="table-div">
  <table
    class="table table-borderless table-sm dracula assembled-view-table"
  >
    <thead>
      <tr class="content-row">
        <th scope="col">Address</th>
        <th scope="col">Machine Code</th>
        <th scope="col">Label</th>
        <th scope="col">Instruction</th>
      </tr>
    </thead>
    <tbody #assembled>
      <tr
        *ngFor="let ins of instructions; let i = index"
        [ngClass]="{ selected: i == selectedInstruction, 'content-row': true }"
      >
        <td>
          <span class="code address">{{ ins.address }}</span>
        </td>
        <td>
          <span class="code machine-code">{{ ins.machine_code }}</span>
        </td>
        <td>
          <span class="code label">{{ ins.label }}</span>
        </td>
        <td>
          <span class="code"
            ><span class="operator">{{ ins.operator }}</span
            >&nbsp;<span class="operands">{{
              ins.operands.join(", ")
            }}</span></span
          >
        </td>
      </tr>

      <!--Dummy row for filling height-->
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
