hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.add-icon {
  font-size: 48px;
}
